#pageTitle {
  text-align: center;
}

#explanation {
  padding: 6px;
  margin-left: 0px;
  margin-right: 0px;
}

.big-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.inputStuff {
  width: 200px;
}

.qResponse {
  display: flex;
  width: 75%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#sprite {
  width: 40%;
  align-self: center;
  padding: 12px;
}

.pkmnTypes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#tipes {
  margin: 16px;
  margin-top: 4px;
}

.abilities {
  display: flex;
  flex-direction: row;
  align-self: center;
  text-align: center;
  justify-content: center;
}

#tableHead {
  border: solid black 2px;
}

#tableBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid gray 2px;
}

#tableElement {
  width: 150px;
  padding: 6px;
  border: solid black 2px;
}

.itemAttr {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#itemCost {
  margin: 16px;
  margin-top: 4px;
}

#fling {
  margin: 16px;
  margin-top: 4px;
}

#moveDescription {
  margin: 16px;
  margin-top: 4px;
}

.moveData {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mvType {
  margin: 16px;
  margin-top: 4px;
}

#dmgType {
  margin: 16px;
  margin-top: 4px;
}

#mvDamage {
  margin: 16px;
  margin-top: 4px;
}

#mvAccuracy {
  margin: 16px;
  margin-top: 4px;
}

#powerPoints {
  margin: 16px;
  margin-top: 4px;
}

#effectChance {
  margin: 16px;
  margin-top: 4px;
}
